<launch>
  <arg name="rosbag" default="/home/arijan/Documents/projekt_diplomski/cijeli_fer.bag"/>
  <arg name="no_rviz" default="false"/>
  <arg name="rviz_config" default="/home/arijan/Documents/seminar_cartographer/vinograd_snimke/viv.rviz"/>
  <arg name="conf" default="/tmp/results/cartographer_config.lua"/>
  <arg name="urdf_filenames" default="/home/arijan/Documents/Diplomski_rad/Pastel_dataset/calibration/X4_pastel.urdf"/>
  <arg name="launch_prefix" default=""/>
  
  <arg name="configuration_directory" default="$(eval conf.rsplit('/', 1)[0])"/>
  <arg name="configuration_basenames" default="$(eval conf.rsplit('/', 1)[1])"/>
  <param name="/use_sim_time" value="true" />

  <group unless="$(arg no_rviz)">
    <node name="rviz"
          pkg="rviz"
          type="rviz"
          required="true"
          args="-d $(arg rviz_config)" />

    <node name="cartographer_occupancy_grid_node"
        pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node"
        args="-resolution 0.05" />
  </group>

  <node name="cartographer_offline_node" pkg="cartographer_ros"
      required="true"
      type="cartographer_offline_node" args="
          -configuration_directory $(arg configuration_directory)
          -configuration_basenames $(arg configuration_basenames)
          -urdf_filenames $(arg urdf_filenames)
          -bag_filenames $(arg rosbag)"
      launch-prefix="$(arg launch_prefix)"
      output="screen"> 
    <remap from="points2" to="os0_128/points" />
    <remap from="imu" to="mavros/imu/data"/>
  </node>


</launch>
